html,
body,
div {
  margin: 0;
  padding: 0;
}

#map {
  color-scheme: inherit;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
}

/* system */
@media (prefers-color-scheme: dark) {
  [data-theme="system"] .leaflet-container {
    background: #000 !important;
  }

  [data-theme="system"]
    :is(
      .leaflet-layer,
      .leaflet-popup,
      .leaflet-tooltip,
      .leaflet-control,
      .leaflet-control-layers-toggle,
      .leaflet-attribution-flag
    ) {
    filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(120%);
  }
}

/* dark */
[data-theme="dark"] .leaflet-container {
  background: #000 !important;
}

[data-theme="dark"]
  :is(
    .leaflet-layer,
    .leaflet-popup,
    .leaflet-tooltip,
    .leaflet-control,
    .leaflet-control-layers-toggle,
    .leaflet-attribution-flag
  ) {
  filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(120%);
}
